.sidebar {
	position: relative;
	z-index: 10;
	flex-shrink: 0;
	width: 300px;
	transition: width 0.3s ease-in-out;
}

.closed {
	width: 80px;
}

.sidebar_container {
	height: 100%;
	background-color: rgba(31, 41, 55, 0.5);
	backdrop-filter: blur(8px);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	border-right: 1px solid #374151;
}


.menu_button {
	padding: 0.5rem;
	border-radius: 9999px;
	transition: background-color 0.3s, transform 0.1s;
	max-width: fit-content;
	cursor: pointer;
}

.menu_button:hover {
	background-color: #374151;
}

.menu_button:active {
	transform: scale(0.9);
}

.sidebar_nav {
	margin-top: 2rem;
	flex-grow: 1;
}

.sidebar_item {
	display: flex;
	align-items: center;
	padding: 1rem;
	font-size: 0.875rem;
	font-weight: 500;
	border-radius: 0.5rem;
	transition: background-color 0.3s;
	margin-bottom: 0.5rem;
}

.sidebar_item:hover {
	background-color: #374151;
}

.sidebar_text {
	margin-left: 1rem;
	white-space: nowrap;
	overflow: hidden;
	opacity: 1;
	transition: opacity 0.3s, width 0.3s;
}

.closed .sidebar_text {
	opacity: 0;
	width: 0;
}

.link {
	text-decoration: none;
	color: inherit;
}

.link .sidebar_item {
	transition: background-color 0.3s, color 0.3s;
}

.link.active .sidebar_item {
	background-color: var(--active-bg);
	color: white;
}

.link.active .sidebar_item svg {
	color: white !important;
}

.iconWrapper {
	position: relative;
	display: inline-block;
}

.badge {
	position: absolute;
	top: -6px;
	right: -8px;
	background-color: red;
	color: white;
	border-radius: 50%;
	font-size: 0.65rem;
	min-width: 16px;
	height: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	padding: 0 4px;
	z-index: 1;
}

.logout_button {
	background-color: #374151;
	color: white;
	border: none;
	border-radius: 9999px; 
	padding: 1rem;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.2s;
  }
  
  .logout_button:hover {
	background-color: #4b5563;
  }
  
  .logout_button:active {
	transform: scale(0.97);
  }
  