.password_change_requests,
.account_deletion_requests {
  margin-bottom: 20px;
  background-color: rgba(31, 41, 55, 0.8);
  padding: 1.5rem;
  border-radius: 0.75rem;
  border: 1px solid #374151;
}

.requests_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.request_card {
  background-color: #1f2937;
  color: #d1d5db;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #374151;
}

.user_info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: bold;
}

.status {
  margin-top: 10px;
}

.status_label {
  font-weight: bold;
}

.buttons button {
  margin-right: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.approve_button {
  background-color: #ecbb3e;
  color: white;
}

.approve_button:hover {
  background-color: #d97706;
}

.reject_button {
  background-color: #ef4444;
  color: white;
}

.reject_button:hover {
  background-color: #dc2626;
}

.error {
  color: red;
  font-weight: bold;
}
